body {
    background-color: #25272c;
    font-family: sans-serif;
}

.about-border{
    border: 3.5px solid  #ffd8a8;
}
.stoq-combo {
    background-color: #ffd8a8;
}
.stoq-footer{
background-color: #393c43;
}
.stoq-combo-text {
    color: #ffd8a8;
}

.stoq-black {
    background-color: #25272c;
}

.stoq-black-text {
    color: #25272c;
}

.strong {
    font-weight: bold;
}

.semibold {
    font-weight: 600;
}

.item-cards {
    width: 20em;
    border-radius: 40px;
    background: linear-gradient(145deg, #212328, #282a2f);
    box-shadow: 17px 17px 34px #15171a, -17px -17px 34px #35373e;
}

.small-circle {
    border-radius: 50%;
    height: 0.5cm;
    width: 0.5cm;
}

.min-screen-height {
    min-height: 100vh;
}

.margined-left-compact {
    margin-left: 20px;
}

.margined-right-compact {
    margin-right: 20px;
}

.margined-left-comfortable {
    margin-left: 45px;
}

.margined-right-comfortable {
    margin-right: 45px;
}

.padded-left-compact {
    padding-left: 20px !important;
}

.padded-right-compact {
    padding-right: 20px !important;
}

.padded-left-comfortable {
    padding-left: 45px !important;
}

.padded-right-comfortable {
    padding-right: 45px !important;
}
