<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="icon" href="images/stoq_logo_bg_fill.png" />
        <title>Early Access | STOQ Club</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="css/materialize.min.css" />
        <link rel="stylesheet" href="css/layout.css" />
        <link rel="stylesheet" href="css/style.css" />

        <!--Import Google Icon Font-->
        <link href="css/MaterialIcons.css" rel="stylesheet" />
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <style>
            input {
                color: white !important;
            }

            input:focus {
                border-bottom-color: #ffd8a8 !important;
            }

            label.active {
                color: #ffd8a8 !important;
            }
        </style>
    </head>

    <body>
        <div>
            <img
                class="responsive-img padded-top-comfortable padded-left-comfortable"
                src="images/stoq logo.png"
                width="220px"
                height="auto"
            />
        </div>
        <section class="about1 section">
            <div class="row">
                <div
                    class="col s12 margined-top-comfortable padded-left-comfortable"
                >
                    <div class="white-text">
                        <h3 class="strong">
                            Sign up for<span class="stoq-combo-text">
                                Early Access
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <div id="app">
            <section class="page1 section min-screen-height valign-wrapper">
                <div class="row white-text">
                    <form id="form" class="col s12">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input
                                id="First Name"
                                type="text"
                                name="FirstName"
                                class="validate"
                                v-model="user.firstname"
                            />
                            <label for="First Name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input
                                id="Last Name"
                                type="text"
                                name="LastName"
                                class="validate"
                                v-model="user.lastname"
                            />
                            <label for="Last Name">Last Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input
                                id="icon_telephone"
                                type="tel"
                                nmae="Telephone"
                                class="validate"
                                v-model="user.phone"
                            />
                            <label for="icon_telephone">Telephone</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mail</i>
                            <input
                                id="email"
                                type="email"
                                name="Email"
                                class="validate"
                                v-model="user.email"
                            />
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">edit</i>
                            <label>Do you have Demat Account?</label>

                            <div
                                class="input-field col s6 margined-top-comfortable"
                            >
                                <label>
                                    <input
                                        name="hasDemat"
                                        value="yes"
                                        type="radio"
                                        v-model="user.hasDemat"
                                    />
                                    <span>Yes</span>
                                </label>
                            </div>
                            <div
                                class="input-field col s6 margined-top-comfortable"
                            >
                                <label>
                                    <input
                                        name="hasDemat"
                                        value="no"
                                        type="radio"
                                        v-model="user.hasDemat"
                                    />
                                    <span>No</span>
                                </label>
                            </div>
                        </div>
                        <div
                            class="col s12 stoq-combo-text margined-top-comfortable"
                            v-if="user.hasDemat == 'yes'"
                        >
                            Name of your Broker
                            <div
                                class="input-field inline margined-left-comfortable"
                                style="width: 10cm;"
                            >
                                <input
                                    id="Broker"
                                    type="text"
                                    class="validate"
                                    v-model="user.broker"
                                />
                                <label for="Broker">Broker Name</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">edit</i>
                            <label>Are You Trader or Investor?</label>

                            <div
                                class="input-field col s6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="Trader" type="radio" />
                                    <span>Trader</span>
                                </label>
                            </div>
                            <div
                                class="input-field col s6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="Investor" type="radio" />
                                    <span>Investor</span>
                                </label>
                            </div>
                        </div>
                        <div class="Trader selectt">
                            <div class="input-field col s12">
                                <label>What is your trading style ?</label>

                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="Intraday" type="radio" />
                                        <span>Intraday</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="Swing" type="radio" />
                                        <span>Swing</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="Position" type="radio" />
                                        <span>Position</span>
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label
                                    >What is the profit are you making
                                    currently?</label
                                >

                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="20-50k/month"
                                            type="radio"
                                        />
                                        <span>20-50k/month</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="1-3lac/month"
                                            type="radio"
                                        />
                                        <span>1-3lac/month</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="10-20lac/month"
                                            type="radio"
                                        />
                                        <span>10-20lac/month</span>
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label>What market type you trade in ?</label>

                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="Cash Segment"
                                            type="radio"
                                        />
                                        <span>Cash Segment</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="F&O" type="radio" />
                                        <span>F&O</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="Commodity" type="radio" />
                                        <span>Commodity</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="Currency" type="radio" />
                                        <span>Currency</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="Investor selectt">
                            <div class="input-field col s12">
                                <label>What is your Investment Style?</label>

                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="Buy and Hold"
                                            type="radio"
                                        />
                                        <span>Buy and Hold</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="Momentum" type="radio" />
                                        <span>Momentum</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s4 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="Constant Rebalancing"
                                            type="radio"
                                        />
                                        <span>Constant Rebalancing</span>
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <label
                                    >What is your average monthly return</label
                                >

                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="1-3%/month" type="radio" />
                                        <span>1-3%/month</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input name="4-7%/month" type="radio" />
                                        <span>4-7%/month</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="10-12%month"
                                            type="radio"
                                        />
                                        <span>10-12%month</span>
                                    </label>
                                </div>
                                <div
                                    class="input-field col s6 margined-top-comfortable"
                                >
                                    <label>
                                        <input
                                            name="CI make losses month on month basis."
                                            type="radio"
                                        />
                                        <span
                                            >I make losses month on month
                                            basis.</span
                                        >
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div
                            class="input-field col s12 margined-top-comfortable"
                        >
                            <i class="material-icons prefix">edit</i>
                            <label
                                >Do you use any Professional help to Trade or
                                Invest in Market ?</label
                            >

                            <div
                                class="input-field col s6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="Yes" type="radio" />
                                    <span>Yes</span>
                                </label>
                            </div>
                            <div
                                class="input-field col s6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="No" type="radio" />
                                    <span>No</span>
                                </label>
                            </div>
                        </div>
                        <div
                            class="col s12 stoq-combo-text margined-top-comfortable"
                        >
                            Name your Professional Advisor
                            <div
                                class="input-field inline margined-left-comfortable"
                                style="width: 10cm;"
                            >
                                <input
                                    id="Advisor"
                                    type="text"
                                    class="validate"
                                />
                                <label for="Advisor">Advisor Name</label>
                            </div>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">edit</i>
                            <label
                                >How many years experience do you have in market
                                ?</label
                            >

                            <div
                                class="input-field col s3 m6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="New to market" type="radio" />
                                    <span>New to market</span>
                                </label>
                            </div>
                            <div
                                class="input-field col s3 m6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="2-3 yrs" type="radio" />
                                    <span>2-3 yrs</span>
                                </label>
                            </div>
                            <div
                                class="input-field col s3 m6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="5-10yrs" type="radio" />
                                    <span>5-10yrs</span>
                                </label>
                            </div>
                            <div
                                class="input-field col s3 m6 margined-top-comfortable"
                            >
                                <label>
                                    <input name="I am a Veteran" type="radio" />
                                    <span>I am a Veteran</span>
                                </label>
                            </div>
                        </div>
                        <div
                            class="col s12 stoq-combo-text margined-top-comfortable"
                        >
                            <label>
                                <input
                                    type="checkbox"
                                    class="filled-in"
                                    checked="checked"
                                />
                                <span
                                    >I agree to terms and conditions and privacy
                                    policy.</span
                                >
                            </label>
                        </div>
                        <div
                            class="col s12 stoq-combo-text margined-top-comfortable"
                        >
                            <label>
                                <input
                                    type="checkbox"
                                    class="filled-in"
                                    checked="checked"
                                />
                                <span
                                    >I give my consent to Stoq Team to contact
                                    me in future.</span
                                >
                            </label>
                        </div>

                        <div class="btn" @click="submitForm">Submit</div>
                    </form>
                </div>
            </section>
        </div>

        <footer class="page-footer stoq-footer min-screen-height">
            <div class="container">
                <div class="row">
                    <div class="col s3 margined-top-comfortable">
                        <img
                            class="responsive-img margined-top-comfortable margined-bottom-comfortable"
                            src="images/stoq logo.png"
                            width="300px"
                            height="auto"
                        />
                    </div>

                    <div class="col s9 margined-left-comfortable">
                        <div class="col m4 s3">
                            <p
                                class="white-text margined-top-comfortable margined-bottom-compact margined-right-compact"
                            >
                                Legal
                            </p>
                            <ul>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Terms & Condition
                                    </a>
                                </li>

                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!">
                                        Privacy Policy
                                    </a>
                                </li>
                                <!-- <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!">
                                        Disclosure Policy
                                    </a>
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!">
                                        Complaints</a
                                    >
                                </li> -->
                            </ul>
                        </div>
                        <div class="col m4 s3">
                            <p
                                class="white-text margined-top-comfortable margined-bottom-compact margined-right-compact"
                            >
                                Company
                            </p>
                            <ul>
                                <li class="margined-bottom-compact">
                                    <a
                                        class="white-text-lighten-3"
                                        href="/about.html"
                                        >About</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Careers</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Content</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Blog</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="col m4 s3">
                            <p
                                class="white-text margined-top-comfortable margined-bottom-compact margined-right-compact"
                            >
                                Follow
                            </p>
                            <ul>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Facebook</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Instagram</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Twitter</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >LinkedIn</a
                                    >
                                </li>
                                <li class="margined-bottom-compact">
                                    <a class="white-text-lighten-3" href="#!"
                                        >Dribble</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div
                    class="footer-copywrite white-text padded-left-comfortable padded-top-comfortable padded-bottom-compact"
                >
                    <div class="col s2">
                        <img
                            class="small-circle responsive-img"
                            src="images/flag.png"
                        />
                        India
                    </div>
                </div>

                <div
                    class="footer-copywrite padded-left-comfortable padded-top-comfortable padded-bottom-compact"
                    style="padding-top: 2em;"
                >
                    <div class="col m4 s4 stoq-combo-text">
                        Copyright 2020 STOQ.club.
                    </div>
                </div>
            </div>
        </footer>

        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    user: {
                        firstname: null,
                        lastname: null,
                        phone: null,
                        email: null,
                        hasDemat: null,
                        broker: null,
                    },
                },
                methods: {
                    submitForm() {
                        console.log({ ...this.user })
                    },
                },
            })
        </script>
    </body>
</html>
