//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
.divider
footer.page-footer.white
    .container
        h4.header.light.teal-text Company
        p.light.black-text Location
    .footer-copyright
        .container
            a(href="http://root-kings.github.io") Designed by R00t
