@import '/fonts/futura/stylesheet.css';

html {
  font-family: 'Futura', serif;

  .light {
    font-family: 'Futura Light', serif;
  }

  .strong {
    font-family: 'Futura Bold', serif;
  }
}

body {
  background: #effdfe;
}

.btn {
  border-radius: 36px;
  text-transform: initial;
}

.inset-top {
  margin-top: -256px;
  padding-top: 256px;
}

.input-field {
  background: #eef0fd;
  width: 458px;
  border-radius: 36px;
  padding: 1px;

  input {
    height: 36px;
    min-width: 300px;
    border: none;
    border-radius: 36px;
    padding-left: 16px;
    background: transparent;
    color: #8e8e96;
    font-size: 14px;
    font-weight: 500;

    &::placeholder {
      color: #9d9da7;
    }
  }
  .btn {
    display: inline-block;
    margin-left: 4px;
    margin-top: -5px;
    width: 150px;
  }
}

.card,
.card-panel {
  border-radius: 8px !important;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 16px -8px rgba(75, 75, 75, 0.75);
  -moz-box-shadow: 0px 4px 16px -8px rgba(75, 75, 75, 0.75);
  box-shadow: 0px 4px 16px -8px rgba(75, 75, 75, 0.75);
}

.blog-post {  
  img {
    max-width: 100% !important;
  }
}
