@import '/fonts/futura/stylesheet.css';

html {
  font-family: 'Futura', serif;

  .light {
    font-family: 'Futura Light', serif;
  }

  .strong {
    font-family: 'Futura Bold', serif;
  }
}

body {
  background: #effdfe;
}

.btn {
  border-radius: 36px;
  text-transform: initial;
}

.inset-top {
  margin-top: -256px;
  padding-top: 256px;
}
